* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 30px auto;
  padding: 15px;
  border: 5px solid red;
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

.box {
  border: 5px solid red;
  background: white;
}

/* Left column */
.left {
  flex: 0 0 20%;
  height: 520px;
}

/* Right column holds top/middle/bottom stacked */
.right {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Top row: 4 small boxes */
.top {
  display: flex;
}
.small {
  flex: 0 0 23%;
  height: 110px;
  margin-right: 2.666%;
}
.small.last { margin-right: 0; }

/* Middle row */
.middle {
  display: flex;
  align-items: stretch;
}
.middle-left {
  flex: 0 0 45%;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.thin {
  width: 100%;
  height: 55px;
}
.last-thin { margin-bottom: 0; }

.big-right {
  flex: 1 1 0;
  height: 125px;
}

/* Bottom row */
.bottom {
  display: flex;
}
.big-bottom {
  flex: 0 0 65%;
  height: 150px;
  margin-right: 15px;
}
.mid-bottom {
  flex: 1 1 0;
  height: 150px;
}

/* clearfix kept for compatibility */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* Mobile: stack all under each other */
@media (max-width: 750px) {
  .container {
    display: block;
    width: 95%;
    padding: 0 10px 15px 10px;
  }

  .left, .right, .small, .middle-left, .big-right, .big-bottom, .mid-bottom {
    flex: none;
    width: 100%;
    margin-right: 0;
  }

  .left { height: 160px; margin-bottom: 15px; }
  .small { height: 110px; margin-bottom: 15px; }
  .big-right { height: 160px; margin-bottom: 15px; }
  .big-bottom { margin-bottom: 15px; }
  .mid-bottom { height: 140px; }
}
