* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 30px auto;
  padding: 15px;
  border: 5px solid red;
}

.box {
  border: 5px solid red;
  background: white;
}

/* Desktop layout */
.left {
  float: left;
  width: 20%;
  height: 520px;
  margin-right: 15px;
}

.right {
  float: left;
  width: 78%;
}

/* Top row: 4 small boxes */
.small {
  float: left;
  width: 23%;
  height: 110px;
  margin-right: 2.666%;
  margin-bottom: 15px;
}
.small.last { margin-right: 0; }

/* Middle row */
.middle-left {
  float: left;
  width: 45%;
  margin-right: 15px;
}

.thin {
  width: 100%;
  height: 55px;
  margin-bottom: 15px;
}
.last-thin { margin-bottom: 0; }

.big-right {
  float: left;
  width: calc(55% - 15px);
  height: 125px;
  margin-bottom: 15px;
}

/* Bottom row */
.big-bottom {
  float: left;
  width: 65%;
  height: 150px;
  margin-right: 15px;
}
.mid-bottom {
  float: left;
  width: calc(35% - 15px);
  height: 150px;
}

/* Clearfix */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* Mobile: stack all */
@media (max-width: 750px) {
  .left, .right, .small, .middle-left, .big-right, .big-bottom, .mid-bottom {
    float: none;
    width: 100%;
    margin-right: 0;
  }

  .left { height: 160px; margin-bottom: 15px; }
  .small { height: 110px; margin-bottom: 15px; }
  .big-right { height: 160px; margin-bottom: 15px; }
  .big-bottom { margin-bottom: 15px; }
  .mid-bottom { height: 140px; }
}
